body {
  margin: 0;
  background: black;
  font-family: -apple-system, BlinkMacSystemFont, "San Francisco", Arial;
  height: 100vh;
  overflow: hidden;
  touch-action: manipulation;
}

.calculator {
  display: flex;
  flex-direction: column;
  height: 100vh;
  max-width: 400px;
  margin: auto;
}

/* ICONOS */
.top-bar {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
}

.icon-circle {
  width: 28px;
  height: 28px;
  border: 1px solid #fff;
  border-radius: 50%;
}

/* DISPLAY */
#display-container {
  flex: 1;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  padding: 20px;
  overflow: hidden;
}

#display {
  color: white;
  font-size: 80px;
  white-space: nowrap;
  transition: font-size 0.15s ease; /* ✅ transición suave */
}

/* BOTONES */
.buttons {
  display: grid;
  grid-template-columns: repeat(4, 80px);
  justify-content: center;
  gap: 12px;
  padding: 10px;
}

button {
  font-size: 34px;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: none;
  background: #333;
  color: white;

  transition: transform 0.1s ease, filter 0.1s;
}

/* ✅ efecto iOS al pulsar */
button:active {
  transform: scale(0.92);
  filter: brightness(1.4);
}

/* GRIS */
.gray {
  background: #a5a5a5;
  color: black;
}

/* NARANJA */
.orange {
  background: #ff9500;
}

/* ✅ operador activo */
.op.active {
  background: white;
  color: #ff9500;
}
